/* The Modal (background) */
.modal {
    display: flex; /* Hidden by default */
    align-items: flex-start;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 40px 1fr;
    width: 400px;
    background-color: white;
    margin-top: 20%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px gray;
  }

  .modal-title {
    align-self: center;
  }

  form {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 20px;
    gap: 15px;
  }

  .form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  input {
    height: 2em;
    padding: 0px 10px;
    border: 1px solid var(--primary-light);
    border-radius: 10px;
    box-shadow: 0px 0px 2px gray;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .submit-btn,
  .confirm-btn {
    flex-grow: 1;
    margin-top: 30px;
    height: 3em;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--primary);
    border: none;
    border-radius: 1.5em;
    box-shadow: 0px 0px 5px gray;
    transition: all .25s;
  }

  .cancel-btn {
    flex-grow: 1;
    margin-top: 30px;
    height: 3em;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background-color: gray;
    border: none;
    border-radius: 1.5em;
    box-shadow: 0px 0px 5px gray;
    transition: all .25s;
  }

  .submit-btn:hover,
  .confirm-btn:hover {
    cursor: pointer;
    background-color: var(--primary-dark);
  }

  .cancel-btn:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  .submit-btn:active,
  .confirm-btn:active,
  .cancel-btn:active {
    filter: brightness(80%);
  }
  
  /* The Close Button */
  .close {
    align-self: flex-start;
    justify-self: flex-end;
    color: #aaaaaa;
    grid-column-start: 2;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }