/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* COLORS */

:root {
	--primary: #45c9a5;
	--primary-light: #45c9a685;
	--primary-dark: #3bac8e;
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
	border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--primary-light); 
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: var(--primary-dark); 
  }

/* BASIC ELEMENTS */

h1 {
	font-size: 3em;
	font-weight: bold;
}

h2 {
	font-size: 2em;
	font-weight: bold;
}


/* BASIC CONTAINERS */

#main-container {
	height: 100vh;
	width: 1000px;
	margin: 0px auto;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

#side-menu {
	display: grid;
	grid-template-rows: 100px 1fr 50px;
	margin: 25px;
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0px 0px 10px gray;
}

#content-container {
	height: calc(100vh - 50px);
	display: grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: 1fr 1fr;
	margin: 25px;
	border-radius: 25px;
	box-shadow: 0px 0px 10px gray;
}

/* SIDE MENU */

#logo-container {
	height: 100px;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10vh;
}

#logo-img {
	height: 75px;
}

#logo-title {
	color: var(--primary);
}

#selection-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

#my-projects,
.todo-selection {
	padding: 10px;
	border-radius: 10px;
	transition: all .25s;
}

#my-todos {
	padding: 10px;
}

#my-projects:hover,
.todo-selection:hover {
	cursor: pointer;
	background-color: var(--primary-light);
}

#my-projects:active,
.todo-selection:active {
	background-color: var(--primary-dark);
}

#todo-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 1.5em;
}

#footer {
	place-self: center;
}

#footer-link {
	text-decoration: none;
	color: var(--primary);
	font-weight: bold;
}

/* CONTENT CONTAINER - PROJECTS */

#content-title {
	display: flex;
	align-items: center;
	padding: 20px;
	font-size: 2em;
	font-weight: bold;
}

#content-settings {
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 20px;
	margin-right: 5px;
}

.add-btn {
	height: 75px;
	/*filter: drop-shadow(0px 0px 1px gray);*/
	transition: all .25s;
}

.add-btn:hover {
	cursor: pointer;
	filter: brightness(90%);
}

.add-btn:active {
	filter: brightness(70%);
}

#content-box {
  	overflow: auto;
	grid-column-start: 1;
	grid-column-end: 3;
	display: grid;
	gap: 20px;
	padding: 5px 20px;
	padding-bottom: 20px;
	margin-right: 5px;
	margin-bottom: 20px;
	grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.project-container {
	display: grid;
	background-color: var(--primary-light);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0px 0px 5px gray;
	transition: all .25s;
}

.project-container:hover,
.todo-container:hover {
	cursor: pointer;
	background-color: var(--primary-dark);
}

.project-container:active,
.todo-container:active {
	background-color: var(--primary-dark);
	filter: brightness(75%);
}

.icon-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.edit-btn,
.trash-btn {
	z-index: 5;
	height: 2em;
}

/* CONTENT CONTAINER - TODOS */

#todo-content-box {
	overflow: auto;
	grid-column-start: 1;
	grid-column-end: 3;
	display: grid;
	gap: 20px;
	padding: 5px 20px;
	padding-bottom: 20px;
	margin-right: 5px;
	margin-bottom: 20px;
	grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
}

.todo-container {
	display: grid;
	background-color: var(--primary-light);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0px 0px 5px gray;
	transition: all .25s;
}

/* COMMON CLASSES */
